@keyframes blinker {
  50% { opacity: 0.0; }
}
.App {
  /* text-align: center; */
  /* background-image: url('/img/camo.jpg') */
  background-color: #E6D9C1;
}

#websiteTitle{
  margin-top: 15%;
}
/* The typing effect */

#diaryTitle{
  font-size:1.5rem;
}

#oneCommentIn{
  border-radius: 5px;
  margin-bottom: 0;
  padding:0;
}

#commentContainerOwn{
  margin-left: 45%;
  width: 40%;
}

#commentContainerOther{
  margin-left: 15%;
  width: 40%;
}

#ownComment{
  border-radius: 5px;
}
#oneComment{
  border-radius: 5px;
}

#card {
  width: 20rem;
}

html{
  background-color: #E6D9C1;
}
#textarea{
  resize: none;
  border-radius: 2px;
  border: none;
  display:inline;
}

#title{
  border: none;
  border-radius: 2px;
  /* font-family: "Oswald", sans-serif; */
}

#titleLink{
  text-decoration: none;
  color: #6F6B29;
  font-family: "Oswald", sans-serif;

}
#wordCloud{
  background-color: white;
  border-radius: 10px;
}
#signupBox{
  background-color: #E3D89A;
}

#signupButton{
  /* background-color: #DADEBC; */
}
#myDiaryBox{
  background-color: transparent !important;
}
/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* 
.diary {
  border-radius: 10px;
  border-style: groove;
border-color:pink;
} */
