@keyframes blinker {
  50% { opacity: 0.0; }
}
.App {
  /* text-align: center; */
  /* background-image: url('/img/camo.jpg') */
  background-color: #E6D9C1;
}

#commentListBox{
  /* background-color:; */
}

#commentTextArea{
  width:"75%%";
}



.menuBar{
  position: fixed;
  display: inline;
  background-color: #F5CB86;
  border-radius: 50px;
}
.containerNotification{
  display: inline-block;
}
#notifyButton{
  color:#F7FBD5;
}
#logOutButton{

}
.fas{
  font-size: 1.4em;

}

#num {
  font-family: "Oswald", sans-serif;
  position: relative;
  right: 12px;
  top: 12px;
  color:black;
  font-size:0.9rem;
}

#websiteTitle{
  margin-top: 15%;
  -webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
}
/* The typing effect */
#footer{
  background-color: #F5CB86;
}

#commentBox{
  white-space: pre-line;

}
#diaryTitle{
  font-size: 2.4rem;
}

#diaryText{
  font-size:1.2rem;
  white-space: pre-line;

}

#oneCommentIn{
  border-radius: 5px;
  margin-bottom: 0;
  padding:0;
}

#commentContainerOwn{
  margin-left: 45%;
  width: 40%;
}

#commentContainerOther{
  margin-left: 15%;
  width: 40%;
}

#ownComment{
  border-radius: 5px;
}
#oneComment{
  border-radius: 5px;
}

#card {
  width: 20rem;
}

html{
  background-color: #E6D9C1;
}
#textarea{
  resize: none;
  border-radius: 2px;
  border: none;
  width: 53%;
  /* display:inline; */
}

#title{
  border: none;
  border-radius: 2px;
  /* font-family: "Oswald", sans-serif; */
}

#titleLink{
  text-decoration: none;
  color: #6F6B29;
  font-family: "Oswald", sans-serif;

}
#wordCloud{
  background-color: white;
  border-radius: 10px;
}
#signupBox{
  background-color: #E3D89A;
}

#signupButton{
  /* background-color: #DADEBC; */
}
#myDiaryBox{
  background-color: transparent !important;
}
/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* 
.diary {
  border-radius: 10px;
  border-style: groove;
border-color:pink;
} */
@media (max-width: 768px)

{
  #textarea{
    /* width: 30%; */
  }
  #commentContainerOwn{
    margin-left: 0%;
    width: 100%;
  }
  
  #commentContainerOther{
    margin-left: 0%;
    width: 100%;
  }

  #commentTextArea{
    width:100%;
  }
}

@media (max-width: 800px)

{
  #textarea{
    width: 90%;
  }
}

/* @media (max-width: 1200px) {
  #commentContainerOwn{
    margin-left: 40%;
    width: 40%;
  }
  
  #commentContainerOther{
    margin-left: 10%;
    width: 40%;
  }
} */
